main {
  background-color: black;
  width: 65%;
  color: white;
  margin: 0 auto;
  border-radius: 8px;
}

.main-title {
  text-align: center;
  padding: 8px;
}

.todo-form {
  display: flex;
  justify-content: center;
  height: 40px
}

.todo-form input {
  width: 45%
}

.todo {
  background-color: lightblue;
  max-width: 400px;
  height: 40px;
  border-radius: 8px;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-text {
  color: black;
  padding: 8px
}

.todo-container {
  padding: 8px;
}

.todo-customise {
  display: flex;
  width: 90px;
  justify-content: space-evenly;
}
